#showroom {
    background-color: #e3e3e3;
}

#sectionGallery .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.showroom {
    background-image: url(/images/ugMebel/articles/showroom/showroom.png);
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat;
    padding: 60px 0;
}

.showroom h2 {
    margin-top: 0;
    color: #dc0100;
}

.margin-top-12 {
    margin-top: 12px;
}

@media (max-width: 1200px) {
    .showroom {
        padding: 24px 0;
    }
}

@media (max-width: 992px) {
    .showroom {
        background-image: none;
        text-align: center;
    }
}
